<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syes.syes_springboot.mapper.ItemHomeMapper">


    <select id="query" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price,
               item.createtime,
               guroupu.collectionnum,
               gi.grade
        from item
                 left join user on item.userid = user.id
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where item.onsale = 1
        order by createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="queryCollect" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price,
               item.createtime,
               guroupu.collectionnum,
               gi.grade
        from item
                 left join user on item.userid = user.id
                 left join usercollect on item.id = usercollect.itemid
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where usercollect.userid = #{arg2}
        order by createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="queryHistory" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price,
               item.createtime,
               guroupu.collectionnum,
               gi.grade
        from item
                 left join user on item.userid = user.id
                 left join userhistory on item.id = userhistory.itemid
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where userhistory.userid = #{arg2}
        order by userhistory.createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="getPosted" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price,
               item.createtime,
               guroupu.collectionnum,
               item.onsale,
               gi.grade,
               item.sort
        from item
                 left join user on item.userid = user.id
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where item.userid = #{arg2}
        order by createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="getAuction" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price as itemprice,
               item.createtime,
               guroupu.collectionnum,
               gi.grade,
               auction.price
        from item
                 left join user on item.userid = user.id
                 left join auction on item.id = auction.itemid
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where auction.userid = #{arg2}
        order by createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="getBuyOrder" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               userorder.id,
               item.title,
               user.nickname,
               user.avatar,
               userorder.createtime,
               userorder.updatetime,
               userorder.price,
               userorder.status
        from item
                 left join user on item.userid = user.id
                 left join userorder on item.id = userorder.itemid
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
        where userorder.touserid = #{arg2}
          and userorder.enable = 1
        order by userorder.createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="getSoldOrder" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               userorder.id,
               item.title,
               user.nickname,
               user.avatar,
               userorder.createtime,
               userorder.updatetime,
               userorder.price,
               userorder.status
        from item
                 left join user on item.userid = user.id
                 left join userorder on item.id = userorder.itemid
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
        where userorder.userid = #{arg2}
          and userorder.enable = 1
        order by userorder.createtime desc
        limit #{arg0}, #{arg1}
    </select>
    <select id="queryComment" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               u.nickname,
               u.avatar,
               comment.id                                                        as cid,
               comment.content,
               comment.createtime,
               (select user.nickname from user where comment.touserid = user.id) as tnickname,
               (select user.avatar from user where comment.touserid = user.id)   as tavatar
        from comment,
             item,
             file,
             itempic,
             user u
        where comment.userid = #{arg2}
          and item.id = comment.itemid
          and u.id = comment.userid
          and itempic.itemid = item.id
          and itempic.ishead = 1
          and file.id = itempic.picid
        order by item.id desc, createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="getSortList" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price,
               item.createtime,
               guroupu.collectionnum,
               gi.grade
        from item
                 left join user on item.userid = user.id
                 left join sort on item.sort = sort.name
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where item.onsale = 1
          and sort.name = #{arg2}
        order by createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="selectAboutCount" resultType="com.syes.syes_springboot.entity.Dto.AboutDto">
        select (select count(userid) from usercollect where userid = #{arg0})              as collect,
               (select count(userid) from userhistory where userid = #{arg0})              as history,
               (select count(userid) from comment where userid = #{arg0})                  as comment,
               (select count(userid) from item where userid = #{arg0})                     as post,
               (select count(userid) from auction where userid = #{arg0})                  as auction,
               (select count(userid)
                from userorder
                where touserid = #{arg0}
                  and enable = 1)                                                          as orders,
               (select count(userid) from userorder where userid = #{arg0} and enable = 1) as sold
    </select>
    <select id="querySearch" resultType="com.syes.syes_springboot.entity.Dto.Item_homeDto">
        select file.url,
               item.id,
               item.title,
               user.nickname,
               user.avatar,
               item.price,
               item.createtime,
               guroupu.collectionnum,
               gi.grade
        from item
                 left join user on item.userid = user.id
                 left join itempic on item.id = itempic.itemid and itempic.ishead = 1
                 left join file on itempic.picid = file.id
                 left join (select itemid, count(*) as collectionnum from usercollect group by itemid) as guroupu
                           on item.id = guroupu.itemid
                 left join (select substr(id, 3, 2) as grade, id from user) as gi on item.userid = gi.id
        where item.onsale = 1
          and item.title like concat('%', #{arg2}, '%')
        order by createtime desc
        limit #{arg0}, #{arg1}
    </select>
</mapper>
