<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.syes.syes_springboot.mapper.OrderMapper">

    <select id="slectByPage" resultType="com.syes.syes_springboot.entity.Order">
        select *
        from userorder
        order by createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="slectByPageSearch" resultType="com.syes.syes_springboot.entity.Order">
        select *
        from userorder
        where userid = #{arg2}
        order by createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="selectCountSearch" resultType="java.lang.Integer">
        select count(*)
        from userorder
        where userid = #{arg2}
        order by createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="slectByPageSearchItem" resultType="com.syes.syes_springboot.entity.Order">
        select *
        from userorder
        where itemid = #{arg2}
        order by createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="selectCountItem" resultType="java.lang.Integer">
        select count(*)
        from userorder
        where itemid = #{arg2}
        order by createtime desc
        limit #{arg0},#{arg1}
    </select>
    <select id="selectOrderCount" resultType="java.lang.Integer">
        select count(userorder.id)
        from userorder
        where userorder.userid = #{arg0}
          and (userorder.status = 1 or userorder.status = 2)
    </select>
</mapper>
